{% extends 'base.html' %}

{% block content %}

    <html>
        <head>
            <title>xPath i xmlx</title>
        </head>
        <body>

        <div><h2>Pobrany element przy pomocy xPath</h2>
            <p>
                {{lxml1}} 
            </p>  


        </div> 
        <hr>
        <div><h2>Pobrany element przy pomocy klasy:</h2>            
            <p>
                {{lxml2}} 
            </p> <br>

        </div>
        
              
        </body>
    </html>
{% endblock %}