{% extends 'base.html' %}

{% block title %}Lab2{% endblock %}


{% block content %}
<h1>Strona główna</h1>
{% if user.is_authenticated %}
Hello {{ user.email }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'change_password' %}">Zmień hasło</a></p>
{% else %}
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
<a href="{% url 'password_reset'%}">Resetuj hasło</a>
<br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br/>
<a href="{% url 'social:begin' 'github' %}">Login with Github</a><br/>
{% endif %}
{% endblock %}